/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.send-off-screen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.demo-oracle-icon {
  width:137px;
  height:18px;
  content:url("images/oracle_logo.svg")
}

html:not([dir="rtl"]) .demo-oracle-icon {
  padding-right:4px
}

html[dir="rtl"] .demo-oracle-icon {
  padding-left:4px
}

.demo-oracle-icon:before {
  display:inline
}

.demo-appheader-avatar {
  width:24px;
  height:24px
}

.demo-appheader-avatar:before {
  content:url("images/avatar_24px.png")
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .demo-appheader-avatar:before {
      content:url("images/avatar_24px_2x.png");
      -webkit-transform:translate(-25%, -25%) scale(0.5);
      transform:translate(-25%, -25%) scale(0.5)
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Profile Card */
.profile-card {
  margin-right: 24px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 20px;
}

.profile-card .avatar {
  margin: 30px;
  border-radius: 50%;
  width: 115px;
  margin-bottom: 10px;
}

.profile-card .name {
  font-weight: bold;
  font-size: 18px;
}
.profile-card .meta {
  color: #777;
  font-size: 14px;
}
.profile-list {
  list-style: none;
  padding: 0;
}

.profile-list li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

/* Card Style for Table + Charts */
.chart-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 10px ;
}

#portfolioTable {
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  font-size: 14px;
  background: #fff;
}














