<div class="oj-hybrid-padding">
  <!-- <h1>Dashboard Content Area</h1> -->
  <div>
    <!-- Admin -->
    <div data-bind="if: userRole() === 'admin'">
      <!-- <h2>Admin Dashboard</h2> -->
      <div data-bind="ojModule: {name: 'admin-dashboard'}"></div>
    </div>

    <!-- Advisor -->
    <div data-bind="if: userRole() === 'advisor'">
      <h2>Advisor Dashboard</h2>
      <div data-bind="ojModule: {name: 'advisor-dashboard'}"></div>
    </div>

    <!-- User -->
    <div data-bind="if: userRole() === 'user'">
      <h2>User Dashboard</h2>
      <div data-bind="ojModule: {name: 'user-dashboard'}"></div>
    </div>
  </div>
</div>
