<div class="oj-flex oj-sm-margin-4x">
  <div class="oj-panel oj-md-6 oj-sm-12 oj-flex-item">
    <h2>Sign Up</h2>
    <oj-form-layout>
      <oj-input-text
        label-hint="userid"
        value="{{userid}}"
        required="true">
      </oj-input-text>      
      
      <oj-input-text
        label-hint="Username"
        value="{{username}}"
        required="true">
      </oj-input-text>

      <oj-input-text
        label-hint="Email"
        value="{{email}}"
        required="true">
      </oj-input-text>

      <oj-input-password
        label-hint="Password"
        value="{{password}}"
        required="true">
      </oj-input-password>

      <oj-select-combobox
        label-hint="Role"
        value="{{roleId}}"
        options="[[roles]]">
      </oj-select-combobox>

      <oj-button on-oj-action="[[signup]]">Sign Up</oj-button>
    </oj-form-layout>
  </div>
</div>
